@model IEnumerable<MovieShopDelta.Models.Database.Movie>

@{
    ViewBag.Title = "AddMovie";
}

<h2>AddMovie</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <input type="button" id="plus" value="+" class="btn btn-success" onclick="location.href='@Url.Action("AddToCart", "Customer", new { id = item.Id }, null)'" />
                <input type="button" id="minus" value="-" class="btn btn-danger" onclick="location.href='@Url.Action("RemFromCart", "Customer", new { id = item.Id }, null)'" />
                @*@Html.ActionLink(" + ", "AddToCart", "Customer", new { id = item.Id, @class = "btn btn-success" }, null)*@
            <label id="resultt">0</label>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>

        /*if (sessionStorage.getItem("countthis") != null)
        {
            document.getElementById("resultt").target.innerHTML = sessionStorage.getItem("countthis");
        }*/
      
        
        var plus = this.document.getElementById("plus");
        plus.addEventListener("click", function () { counter(); });
      
        //console.log();
        //plus.addEventListener("click", function () { console.log("hej") });
        function counter()
        {
            
            
            sessionStorage.setItem("countthis", 1);
            //document.getElementById("resultt").innerHTML = sessionStorage.getItem("countthis");
            //var something = sessionStorage.getItem("countthis");
            this.document.getElementById("resultt").innerHTML = sessionStorage.getItem("countthis");

        }

        
    </script>
}


