@model IEnumerable<MovieShopDelta.Models.ViewModels.CustomerOrderRows>


<div class="row">
    <div class="col-sm-4">
        <b>@Html.DisplayNameFor(model => model.Title)</b>
    </div>
    <div class="col-sm-4">
        <b>@Html.DisplayNameFor(model => model.Price)</b>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-4">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(modelItem => item.Price)
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-4">
        <b>Total Price</b>
    </div>
    <div class="col-sm-4">
        <b>@Model.Sum(u => u.Price) kr</b>
    </div>
</div>
<hr />

