@model IEnumerable<MovieShopDelta.Models.ViewModels.CustomerOrders>

    <div class="row">
        <div class="col-sm-4">
            <b>@Html.DisplayNameFor(model => model.Email)</b>
        </div>
        <div class="col-sm-4">
            <b>@Html.DisplayNameFor(model => model.Count)</b>
        </div>
        
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Email)
            </div>

            <div class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Count)
            </div>
        </div>
       @* <tr>
            @if (item != null)
            {
                @Html.Action("CustomerOrdersExpanded")
            }
        </tr>*@
    }
@if (Model.Count() == 1)
{
        @Html.Action("CustomerOrdersExpanded")
}
