@model IEnumerable<MovieShopDelta.Models.Database.Movie>
@{
    ViewBag.Title = "ShoppingCart";
}

<h2>ShoppingCart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.ActionLink("BUY ME!", "ShoppingCart", "Customer", new { id = item.Id, @class = "btn btn-success" })

            </td>*@
        </tr>
    }

</table>









<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Check out" class="btn btn-success" />
    </div>
</div>
